<!-- <p>price works!</p> -->
<ul style="list-style-type: none;padding: 20px; " >
<li>Haldia Institute Of Technology Hostel For Female</li><br>

<li>The campus has 3 Girl’s Hostel for UG and PG Students.</li>

<li>Hostel Rent: Rs. 12000 per semester
</li>
<li>Caution Deposit: Rs. 5000</li>

<li>Hostel Rent Per Year: Rs 24000</li><br>
</ul>

<ul style="list-style-type: none;padding: 20px; " >
    <li>Haldia Institute Of Technology Hostel For Male</li><br>
    
    <li>The campus has 5 Boys Hostel for UG and PG Students.</li>
    
    <li>Hostel Rent: Rs. 12000 per semester
    </li>
    <li>Caution Deposit: Rs. 5000</li>
    
    <li>Hostel Rent Per Year: Rs 24000</li><br>
    </ul>