<ul
  class="nav justify-content nav-tabs"
  style="background-color: maroon; border-radius: 10px; padding: 5px"
>
  <li class="nav-item">
    <a class="nav-link" style="color: yellow" routerLink="add-user"
      >Add Users</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: yellow" routerLink="view-users"
      >View Users</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: yellow" routerLink="update-user"
      >Update User</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: yellow" routerLink="view-help"
      >View Help</a
    >
  </li>
</ul>
<!-- <span class="list-group  list-group-flush" style="margin-left: -550px;">
    <a  class="list-group-item flist-group-item-action " routerLink="services">
      Services Offered
    </a>
   
    <a  class="list-group-item list-group-item-action" routerLink="price">Price</a>
    <a  class="list-group-item list-group-item-action " routerLink="foodmenu">Food Menu</a>
  </span>

<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> -->

<div>
  <router-outlet></router-outlet>
</div>
