
<!-- <p class="display-4 text-primary text-end">Welcome,{{userObj.username}}</p>

<p class="text-end lead">{{userObj.email}}</p>
<p class="text-end lead">{{userObj.address.city}}</p>
<p class="text-end lead">{{userObj.address.street}}</p>
<p class="text-end lead">{{userObj.address.pincode}}</p> -->

<div class="text-center mt-5 p-5 border">
    <p class="display-4">{{currentUser['username']}}</p>
    <p class="display-4">{{currentUser['email']}}</p>
    <!-- <img src={{currentUser['profileImage']}} alt=""> -->
    
    <button class="btn btn-danger text-white" (click)="getProtectedData()">Get Protected data</button>

    <h1 class="text-danger">{{confidentialData}}</h1>
</div>
