<!-- <p>contactus works!</p> -->
<div class="container">
<h1 style="background-color: deepskyblue;color: white; font-family: cursive;padding: 6px 0 6px 10px;" >Contact Us</h1>
    <ul style="list-style-type: none; background-color: lavenderblush;">

        <li>Haldia Institute of Technology<br>
I.C.A.R.E Complex, H.I.T Campus<br>
Hatiberia, PO-HIT<br>
Dist: Midnapore(E), West Bengal, India.</li>
</ul>
<ul style="list-style-type: none;background-color: lavenderblush;">
<li>PHONE :

    (+913224)252800,255655,255138, 252900, 253061, 255215/216/217</li>
<li>FAX :

    (+913224)252800, 253062</li>

<li>E-Mail :

    admin@hithaldia.in, admin@hithaldia.ac.in</li>

</ul>

</div>