

   <div class="container">
    
    <img src="assets\images\haldia-institute-of-technology-hit-haldia.jpg" class="responsive-image">
    <div class="placetext" style="height: 150px;width:50%">
       
        <div class="text-content" style="padding: 20px;font-family:cursive;color:rgb(247, 247, 247);">
            <h1>Welcome to Hostel Life,</h1>
            <h2>Good Memories Start Here!!!</h2>
            <marquee>Matangini Hall of Residence 
                 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 Tamalika Ponda Seth Hall of Residence 
                   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
                     B R  Girls Hostel
                     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
                     Balaji Boys Hostel
                     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
                     Ranichak Boys Hostel
                     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
                     P1 Boys Hostel
                     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
                     P2 Boys  Hostel
                     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
                     P3 Boys Hostel
                    </marquee>

                   
                    
        </div>
       
    </div>
   </div>
