
img{
 margin-left: -85px;
    width: 1260px;
}
.placetext{
    position:absolute;
    top:40%;
    left:20%;

}
@media only screen and (max-width: 600px) {
    .placetext {
      width: 90%;
      top: 50%;
      left: 5%;
      transform: translate(0,50%);
    }
    .responsive-image {
        margin-left: -10%;
        width: 120%;
      }
    .text-content {
      font-size: 14px;
      background-color: rgb(144, 144, 209);
    }
  }

  