<!-- <p>user-profile works!</p> -->
<ul class="nav justify-content nav-tabs" style="background-color: maroon;border-radius: 10px ;padding: 5px;">
  <li class="nav-item">
    <a class="nav-link" style="color: yellow;"  routerLink="my-profile">My Profile</a>
  </li>
    <li class="nav-item">
      <a class="nav-link " style="color: yellow;" routerLink="add-help">Add Help</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: yellow;"  routerLink="view-help">View Help</a>
    </li>
   
  </ul>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <!-- <p class="display-4 text-primary text-end">Welcome,{{userObj.username}}</p>

  <p class="text-end lead">{{userObj.email}}</p>
  <p class="text-end lead">{{userObj.address.city}}</p>
  <p class="text-end lead">{{userObj.address.street}}</p>
  <p class="text-end lead">{{userObj.address.pincode}}</p> -->